@font-face {
    font-family: "Poppins";
    src: url(/src/fonts/Poppins/);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
}

body {
    background-color: #000000;
}

html {
    scroll-behavior: smooth;
    text-size-adjust: 100%;
}

html::-webkit-scrollbar {
    width: 0.6rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #d6b832;
    border-radius: 5rem;
}

.background {
    background: url(/img/background.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    max-width: 100%;
    background-color: #000;
    padding-bottom: 1rem;
}

.links-menu {
    display: flex;
    gap: 1rem;
}

.links-menu a {
    color: #fff;
    font-size: 1rem;
    transition: 0.3s ease;
}

.links-menu a:hover {
    color: #adc41a;
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
}

.logo img {
    width: 75px;
    height: 75px;
    margin-left: 5rem;
    border-radius: 100%;
    box-shadow: 2px 3px 4px 1px #303030;
}

.menu-icon {
    display: flex;
    font-size: 2rem;
    color: #fff;
    gap: 1rem;
    margin-right: 5rem;
}

.menu-icon .cart, .menu {
    cursor: pointer;
}

hr {
    border-bottom: solid 1.2px;
    color: rgb(100, 100, 100);
}

.input-box {
    width: 100%;
    overflow: hidden;
    background-color: #000;

}

@keyframes animate-mobile {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.menu {
    display: none;
}

.input-search {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: none;
}

.input-search.search {
    display: block;
}

.input-search form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 0.6rem;
}

.input-search input {
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    font-size: 1rem;
    color: #000000;
}

.input-search input:focus, .input-search input:valid {
    appearance: 0;
}

.input-search input::placeholder {
    color: #000;
    font-size: 1.2rem;
}

.btn-search {
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #d6b832;
    color: #fff;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #f5d02d;
}

.C-title {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.title h1 {
    font-size: 4.8rem;
}

.C-title p {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.buy {
    margin-top: 2rem;
}

#btn {
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px;
    background-color: #d3da3a;
    cursor: pointer;
    transition: 0.3s ease;
    letter-spacing: 2px;
    border-radius: 5px;
    text-overflow: ellipsis;
}

#btn:hover {
    background-color: #979e08;
}

/* section sobre nos*/

.section-1 h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.sobre-nos-title {
    color: #fff;
}

.section-1 span {
    color: #d6b832;
}

.section-1 {
    padding: 5rem;
}

.sobre-nos {
    display: flex;
    max-width: 100%;
    width: 100%;
    margin-top: 2rem;
    background-color: #13131a;
}

.sobre-nos-img {
    width: 50%;
}

.sobre-nos-img img {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.sobre-nos-title {
    margin-left: 1.3rem;
    width: 50%;
}

.sobre-nos-title h2 {
    font-size: 2rem;
}

.sobre-nos-title p {
    line-height: 2rem;
    padding-top: 1rem;
    font-size: 1rem;
    color: #ccc;
    width: 100%;
}

/* nosso menu */

.section-2 h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.section-2 span {
    color: #d6b832;
}

.container-card-1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.card {
    border: 1px solid #fff;
    padding: 5rem;
    max-width: 100%;
    text-align: center;
    width: 25rem;
    height: 23rem;
    transition: 0.3s ease;
}

.card img {
    width: 120px;
    height: auto;
}

.card h3 {
    font-size: 1.3rem;
    color: #fff;
}

.card p {
    color: #ccc;
    font-size: 1.8rem;
}

.card span {
    color: #fff;
    font-weight: lighter;
    text-decoration: line-through;
    font-size: 1rem;
}

.card #btn {
    font-size: 1rem;
    margin-top: 10px;
    padding: 5px 15px;
}

.card:hover {
    transform: scale(1.1);
    background-color: #0d0d0d;
}

.title-product {
    color: #fff;
}

.star {
    color: #d3ad7f;
    font-size: 1.5rem;
}

.section-3 h1 {
    font-size: 3rem;
    margin-top: 3rem;
    text-align: center;
    color: #fff;
}

.section-3 span {
    color: #d6b832;
}

.C-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    padding: 1rem;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 5rem;
    max-width: 100%;
    width: 25rem;
    height: 30rem;
    text-align: center;
    margin-top: 3rem;
}

.iconnes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.iconnes a {
    color: #fff;
    font-size: 1.8rem;
    border: 1px solid #ccc;
    padding: 0.5rem;

}

.iconnes a:hover {
    background-color: #d6b832;
}

.product-img {
    margin-top: 1.2rem;
}

.price p {
    color: #fff;
}

.title-product h3 {
    margin-top: 1rem;
}

.price p span {
    text-decoration: line-through;
    font-size: 0.8rem;
}

.section-4 h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
    margin-top: 3rem;
}

.section-4 span {
    color: #d3ad7f;
}

.container-clientes {
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: #fff;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 1rem;
    padding-top: 3rem;
}

.paragrafo {
    border: 1px solid #ccc;
    padding: 1rem;
    width: 25rem;
}

.paragrafo .img-person img {
    width: 85px;
    height: auto;
    margin-top: 1rem;
}

.depoimento p {
    line-height: 2rem;
    margin-top: 1rem;
}

.img-person h3 {
    margin-top: 2rem;
    font-size: 2rem;
}

/* footer */

footer {
    background-color: #13131a;
    text-align: center;
    padding: 3% 0;
}

footer .icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i {
    color: #4f9cf9;
    font-size: 19px;
    background-color: #fff;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

footer p {
    margin-top: 10px;
    color: #fff;
}

/* menu repsonviel */

@media (max-width: 768px) {
    .menu {
        display: block;
        z-index: 12;
    }

    .menu.open {
        z-index: 12;
        position: fixed;
        top: 5.5%;
        right: 8.3%;
    }

    .links.open {
        clip-path: circle(141.2% at 100% 0);
    }

    .links {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 2rem;
        clip-path: circle(0% at 100% 0);
        padding: 1rem 0;
        background-color: #000;
        transition: 0.3s;
    }

    .sobre-nos {
        flex-direction: column;
    }

    .sobre-nos-img, .sobre-nos-title {
        width: 100%;
        text-align: center;
    }

    .sobre-nos-title {
        padding: 0;
        margin: 0;
    }

    .sobre-nos-title p {
        font-size: 100%;
    }

    .C-title {
        margin: 0;
        align-items: center;
    }

    .C-title h1 {
        font-size: 2.4rem;
    }

    #btn {
        width: 100%;
    }


}

@media (max-width: 599px) {
    .logo img, .menu-icon {
        margin: 0;
    }

    .logo img {
        margin-left: 1rem;
    }

    .menu-icon {
        margin-right: 1rem;
    }

    .card #btn {
        width: 100%;
        margin: 2px;
    }

    .card {
        width: 100%;
        height: 100%;
        padding: 2.5rem;
    }

    .C-card {
        padding: 0;
    }

    .iconnes a {
        font-size: 1.4rem;
        padding: 0.4rem;
    }

    .container-clientes {
        padding: 3rem 0px 0px 0px;
    }
}

@media (max-width: 439px) {
    .section-1 {
        padding: 5rem 1rem;
    }

    .input-search input {
        padding: 16px 36px;
        font-size: 0.8rem;
        text-overflow: ellipsis;
    }

    .input-search input::placeholder {
        font-size: 0.8rem;
    }

    .input-search .btn-search {
        padding: 16px;
    }
}